Options +FollowSymLinks
RewriteEngine on
RewriteBase /

# URLs all require trailing '/'.
# [QSA] means additional params (e.g. ?json=) are also passed

# https://api.ashton.codes/docs/
RewriteRule ^(docs|get)/$                   /docs/index.php?method=$1                          [QSA]

# https://api.ashton.codes/docs/social/
RewriteRule ^(docs|get)\/([^/]+)/$          /docs/index.php?method=$1&category=$2              [QSA]

# https://api.ashton.codes/docs/details/name/
RewriteRule ^(docs|get)\/([^/]+)/([^/]+)/$  /docs/index.php?method=$1&category=$2&attribute=$3 [QSA]
